
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";



body, html {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
  scrollbar-width: none;      /* for Firefox */
}


:root {
  --color-bg: light-dark(white,black);
  --color-maintext: light-dark(black,#ffffff);
  --color-sidetext: light-dark(#656565,#b8b8b8);
  --color-gray: light-dark(#cfcece54,#ffffff54);
  --color-darkgray: light-dark(#e4e4e466,#49494975);
  --color-primary: light-dark(white ,#262626);
  --color-lightgray: light-dark(#e1e1e1, #4c4c4c);
  --color-navbg: light-dark(#ffffff92,#2222229b);
  --color-green: light-dark(#c9fdbe,#b1f7a3);
  }
  
  /* @theme {
  --color-bg: white;
  --color-maintext: black;
  --color-sidetext: #656565;
  --color-gray: #cfcece54;
  --color-darkgray: #d1d1d140;
  --color-primary: white;
  --color-lightgray: #e1e1e1;
} */

  /* :root {
    --color-bg: rgb(0, 0, 0);
    --color-maintext: rgb(255, 255, 255);
    --color-sidetext: #b8b8b8;
    --color-gray: #ffffff54;
    --color-darkgray: #96939351;
    --color-primary: rgb(38, 38, 38);
    --color-navbg: #2222229b;
    --color-lightgray: #4c4c4c; light-dark(#e1e1e1, #000000);
  } */