@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";



body,
html {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* for Internet Explorer and Edge */
  scrollbar-width: none;
  /* for Firefox */
}


:root {
  --color-bg: light-dark(hsl(0 0% 96%), hsl(0 0% 4%));
  /* main bg  */
  --color-innerbg: light-dark(hsl(0 0% 94%), hsl(0 0% 10%));
  /* innerbg  */
  --color-lightgray: light-dark(hsl(0 0% 89%), hsl(0 0% 14% / 0.80));
  /* l r border , in between lines, project button bg, input bg*/
  --color-navbg: light-dark(hsl(0 0% 100% / 47%), hsl(0 0% 13% / 61%));
  /* navbg */
  --color-darkgray: light-dark(hsl(0 0% 88% / 70%), hsl(0 0% 26% / 53%));
  /* navbar border, project img border  */
  --color-maintext: light-dark(hsl(0 0% 5%), hsl(0 0% 95% ));
  /* heading text, phone color  */
  --color-sidetext: light-dark(hsl(0 0% 30%), hsl(0 0% 70% ));
  /* para text  */
  --color-infiniteimgbg: light-dark(hsl(0 0% 91% / 0.33), hsl(0 0% 50% / 0.08));
  /* infinitflow images bg   */
  --color-projectcardbg: light-dark(hsl(0 0% 93% / 0.21), hsl(0 0% 11.5%));
  /* project card bg  */
  --color-gray: light-dark(hsl(0 0% 83%),  hsl(0 0% 29% / 0.46));
  /* project card border, input border, phone screen border, phone outside border   */
  
  --color-green: light-dark(#c4ffbb, #c6ffbb);
  --color-blueborder: light-dark(#a6cae8, #1455ada6);
  --color-phone: light-dark(#000,#080c13);
  /* phone color  */
}


/* @theme {
  --color-bg: white;
  --color-maintext: black;
  --color-sidetext: #656565;
  --color-gray: #cfcece54;
  --color-darkgray: #d1d1d140;
  --color-primary: white;
  --color-lightgray: #e1e1e1;
} */

/* :root {
    --color-bg: rgb(0, 0, 0);
    --color-maintext: rgb(255, 255, 255);
    --color-sidetext: #b8b8b8;
    --color-gray: #ffffff54;
    --color-darkgray: #96939351;
    --color-primary: rgb(38, 38, 38);
    --color-navbg: #2222229b;
    --color-lightgray: #4c4c4c; light-dark(#e1e1e1, #000000);
  } */